/* *{ border: 1px solid red; } */
h1{
    padding:20px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
  
.nav-link{
    width:auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

main{
    display: flex;
}

section{
    width: 100%;
    margin-top: 20px;
    margin-left: 5%;
}

.search{
    width:30vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
}


.error{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border-radius: 10px;
}

.container-user h2{
    padding-bottom: 20px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.form-group label{
    margin-right: 5px;
}

.submit-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* .login{
    width: 10vw;
} */

.login-input{
    width: auto;
}

.empty-list{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.hide{
    display: none;
}

.post-card{
    margin: 30px;
    border: 1px darkslategray solid;
    border-radius: 2px;
}

.card-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-label{
    margin-top: 5px;
    margin-bottom: 0;
}

.create-btn{
    margin-top: 10px;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0 8px;
}

.create-btn:hover{
    background-color: rgb(66, 66, 255);
}

.card{
    margin: 30px;
}
.card-header{
    display:flex;
    justify-content: space-between;
  }

.post-info{
    font-size: 0.8rem;
}

.sub-font{
    font-size: 0.8rem;
}

.special-margin{
    margin-right: 30px;
}

.dashboard-info{
    text-align: center;
    margin: 30px 50px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 30px 0;
    background-color: rgba(0,0,0,.03);
}